@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nome-perfil, .titulo {
    text-shadow: 1px 2px #000;
    color: #fff;
}

.banner {
    font-family: 'ysabeau infant', sans-serif;
    
    .video-de-fundo {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .perfil {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        width: 768px;
        padding: 10px;

        .foto-perfil {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-image: url("../images/neymar.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .foto-perfil::before {
            content: "";
            width: 215px;
            height: 215px;
            background: linear-gradient(90deg, #ffdf00, #009c3d);
            position: absolute;
            z-index: -1;
            border-radius: 50%;
        }

        .nome-perfil {
            position: relative;
        }

        /* tarja Ne */
        .nome-perfil::before {
            content: "";
            width: 27px;
            height: 3px;
            position: absolute;
            left: 2px;
            bottom: 2px;
            border-radius: 5px;
            background: linear-gradient(90deg, #ffdf00, #009c3d);
        }

        .nome-perfil::after {
            content: "";
            background-image: url(/assets/images/verificado.png);
            background-repeat: no-repeat;
            display: inline-block;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: 768px;
        width: 100%;
        display: flex;
        align-items: center;
        
        .link {
            text-align: center;
            background-color: #0200006e;
            padding: 10px;
            border-radius: 20px;
            text-decoration: none;
            color: #fff;
            width: 100%;
            position: relative;

            img {
                width: 30px;
                position: absolute;
                left: 10px;
                top: 5px;
            }
        }

        .link:hover {
            background-color: #fff;
            color: #000;
        }
    }
}

.estatisticas {
    font-family: 'Montserrat', sans-serif;

    background-image: url(/assets/images/imagem-de-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* gap: 40px; */

    
    table {
        text-align: center;

        th, td {
            padding: 20px;
        }

        img {
            width: 30px;
        }
    }

    td:first-child {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    th {
        background-color: #000000cc;
        color: #fff;
        font-weight: normal;
    }

    tbody tr:nth-of-type(odd) {
        background-color: #ffffffcc;
    }

    tbody tr:nth-of-type(even) {
        background-color: #000000cc;
        color: #fff;
    }
}